VITE_SUPABASE_URL=https://akpvnfhybejofdspezxg.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFrcHZuZmh5YmVqb2Zkc3BlenhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwOTg5MzAsImV4cCI6MjA5MDY3NDkzMH0.UtOomxtrd5fYYhEEREYjsggMFViHUY3HW3X53bvm7uQ
VITE_SUPABASE_PROJECT_ID=akpvnfhybejofdspezxg
